homebridge.json
zmanim/beinHaShmashos.json
zmanim/chatzot.json
zmanim/chatzotNight.json
zmanim/dawn.json
zmanim/halachic_hour.json
zmanim/minchaGedola.json
zmanim/minchaKetana.json
zmanim/misheyakir.json
zmanim/plagHaMincha.json
zmanim/recent_time.json
zmanim/sofZmanShma.json
zmanim/sofZmanTfilla.json
zmanim/sunrise.json
zmanim/sunset.json
zmanim/tzeit72min.json
zmanim/tzeit85deg.json
